h5 {
  margin: 0.5rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 500px;
  border-radius: 5px;
  background: rgb(241, 239, 239);
  flex-direction: column;
  padding: 1rem;
  margin: auto;
  border: 2px solid black;
  justify-content: center;
  align-items: center;

  &:hover {
    scale: 1.05;
  }

  .card-title {
    size: 1em;
    text-align: center;
    padding: 1rem;
  }

  img {
    width: 100%;
  }

  .read-button,
  .like-button {
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
  }

  .read-button {
    background-color: rgb(94, 145, 175);
    text-decoration: none;
  }

  .like-button {
    background-color: rgb(224, 162, 173);
  }
}

.comment {
  padding: 0.5rem;
}

input {
  border-radius: 10px;
}

.article-comment {
  width: 90%;
  padding: 0.5rem;
  margin-top: 1rem;
}

.popular-article {
  font-size: 1.5em;
  text-shadow: 2px 2px 5px gray;
  font-weight: bold;
}
