@if(article.isPublished) {
<div class="card-container">
  <div class="card">
    <h2
      class="card-title"
      [ngClass]="{ 'popular-article': article.likes > 100 }"
      [ngStyle]="{ color: article.likes > 150 ? trendyArticle : 'black' }"
    >
      {{ article.title }}
    </h2>
    <img [src]="article.image" [alt]="article.image" />
    <h5>{{ article.author }}</h5>
    <button class="like-button" (click)="likeArticle(article.title)">Like ♥</button>
    <h5>Nombre de likes: {{ article.likes }}</h5>
    <button class="read-button">
      <span [routerLink]="['/article', article.id]">Lire l'article</span>
    </button>
  </div>
</div>
} @else {
<p>Aucun article publié pour le moment</p>
}
